.container {
  background-color: black;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

hr {
  height: 5px;
  width: 30%;
  background-color: white;
  padding-left: 300px;
}
h1,
h3,
p {
  color: white;
  padding: 1rem;
}
h1 {
  font-size: 50px;
}
.cv {
  border-color: white;
  border-style: solid;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
