/*Empieza el contenedor de los articulos*/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.encabezado {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 320px;
  height: 100%;
  gap: 30px;
  flex-wrap: wrap;
}
.hijo {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
}
.hijo img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.hijo h3 {
  margin-top: 15px;
  transition: color 0.3 ease;
}
.hijo h3:hover {
  color: #012d66;
  cursor: pointer;
}
.hijo p {
  margin-top: 25px;
}
