footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #1c486e;
}

.social-media img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.social-media,
.footer-list,
.derechos {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.footer-list a {
  color: #f4f4f4;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contacto-section {
  flex: 1;
}

.derechos p {
  font-size: 0.85rem;
  color: whitesmoke;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-list {
    flex-wrap: wrap;
    gap: 20px;
  }
}
