.header {
  background-color: #1c486e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo img {
  height: 70px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}

.header .logo {
  margin-right: auto;
  cursor: pointer;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-family: "Lato", serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.menu {
  display: none;
}

.header .btn button,
.header .menu button {
  margin-left: 20px;
  font-weight: 700;
  color: #012d66;
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
  background-color: white;
  color: #ffbc0e;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .nav-links,
  .btn {
    display: none;
  }
  .menu {
    display: inherit;
  }
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(33, 49, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 40px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: white;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 70px;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
