<footer>
  <div class="social-media">
    <a href="https://www.facebook.com/elisa.rodriguez.317558"
      ><img src="img/face.svg" alt="facebook-logo"
    /></a>
    <a href="https://www.instagram.com/elisamarisoll"
      ><img src="./img/i.svg" alt="instagram-logo"
    /></a>
  </div>
  <div class="footer-list">
    <a href="./autobio.html">Sobre mí</a>
    <a href="./essays.html">Artículos</a>
    <a href="./contact.html">Contacto</a>
  </div>
  <div class="derechos">
    <p>
      © 2026 Elisa Rodríguez • Internacionalista UNAM. Todos los derechos
      reservados.
    </p>
  </div>
</footer>
