<header class="header">
  <div class="logo">
    <a href="./index.html" class="logo-link">
      <img src="./img/logo.png" alt="me" />
      <div class="logo-text">FORUM MULTIPOLAR</div>
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="./autobio.html">Sobre mí</a></li>
      <li><a href="./essays.html">Articulos</a></li>
    </ul>
  </nav>
  <a href="./contact.html" class="btn"><button>Contacto</button></a>
  <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

  <div id="mobile-menu" class="overlay">
    <a onclick="closeNav()" href="javascript:void(0)" class="close">&times;</a>
    <div class="overlay-content">
      <a href="./autobio.html">Sobre mí</a>
      <a href="./essays.html">Articulos</a>
      <a href="./contact.html">Contacto</a>
    </div>
  </div>
</header>
